/* CORE */

* {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  list-style: none;
  text-decoration: none;
}

h1 {
  color: #262D35;
  font-size: 77px;
    padding: 0 0 0px 60px;
}

h2 {
  color: #868D9B;
  font-size: 40px;
  margin: 0 0 0 0;
  padding: 0 0 40px 60px;
}

h3 {
  color: #171A1F;
  font-size: 26;
  margin-top: 6px;
  margin-bottom: 6px;
}

h4 {
  color: #FFF;
  font-size: 60px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 20px;
}

/* NAVGIATION BAR */

.header {
    background: #262D35;
    z-index: 100;
    transition: height 600ms 0s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    border-bottom: 5px solid #35A8E0;
 }

.nav {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }

.nav img {
    display: inline-block;
    position: relative;
    max-width: 162px;
    max-height: 30px;
    float: left;
    line-height: 34px;
    top: 15px;
    padding-left: 15px;
}

.nav-list {
  float: left;
  margin-right: 30px;
  line-height: 60px;
  color: #868D9B;
  font-size: 16px;
  padding-left: 30px;

}

.nav-social{
 float: right;
 color: #868D9B;
 padding: 0px 5px 0px 5px;
 line-height: 60px;
 margin-right: 10px;
}

/* CONTENT */

body {
  background-color: #F1F2F2;
}

/* GALLERY */

#wrapper {
  padding: 50px 150px 0 150px;
}

#top-gallery {
  border: none;
  display: block;
  margin: 0 auto;
}

#gallery {
  margin: 0;
  list-style: none;
}

#gallery li {
  float: left;
  margin: 1%;
  background-color: #FFFFFF;
}

#gallery li a p {
  padding-left: 20px;
  font-size: 10px;
  color: #868D9B;
}

#gallery img {
  max-width: 330px;
  max-height: 280px;
}

#gallery h3 {
  padding-left: 20px;
}

/* CUSTOM DESIGNS SERVICES */

#custom-services {
  width: 100%;
  float: left;
  min-height: 690px;
  background-color: #262D35;
  margin-top: 40px;
  margin-bottom: 40px;
}

#custom-services p {
  color: #868D9B;
  font-size: 20px;
  text-align: center;
}

#services-gallery {
  margin: 0;
  padding: 0;

}

#custom-gallery {
  margin: 0;
}

#custom-gallery li {
  float: left;
  margin: 1%;
}

#custom-gallery li a p {
  padding-left: 20px;
  font-size: 10px;
  color: #868D9B;
}

#custom-gallery img {
  max-width: 280px;
  max-height: 270px;
}

/* Clearfix */

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: ' ';
    line-height: 0;
    display: table;
}
.clearfix:after {
    clear: both;
}

/* ---------- */

.info-button {
    float: left;
    border: 0;
    border-radius: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    width: 200px;
    text-align: center;
    float: none;
    display: block;
    margin: 30px auto;
    box-shadow: inset 0 0 0 2px #55cdff;
    opacity: .9;
    font-weight: bold;
}

.info-button:hover {
  background: #39b7ec;
  box-shadow: none!important;
}
