/* CORE */

* {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #F1F2F2;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
}

h1 {
  color: #262D35;
  font-size: 70px;
  padding-top: 70px;
  margin: auto;
  max-width: 1060px;
}

h2 {
  color: #868D9B;
  font-size: 30px;
  padding: 40px 0;
  margin: auto;
  max-width: 1060px;
}

h3 {
  color: #171A1F;
  font-size: 26;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
}

h4 {
  color: #FFF;
  font-size: 60px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 1px;
  padding-top: 20px;
}

h5 {
  font-size: 60px;
  font-weight: bold;
  color: #20242B;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

h6 {
  font-size: 18px;
  font-weight: lighter;
  color: #868D9B;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}



/* NAVGIATION BAR */

.header {
  background: #262D35;
  z-index: 100;
  transition: height 600ms 0s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  border-bottom: 5px solid #35A8E0;
}

.nav {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.nav img {
  display: inline-block;
  position: relative;
  max-width: 172px;
  max-height: 40px;
  float: left;
  top: 10px;
  padding-left: 35px;
  padding-right: 30px;
}

.nav-list {
  float: left;
  margin-right: 30px;
  line-height: 60px;
  color: #868D9B;
  font-size: 16px;
  padding-left: 30px;
}

.nav-social {
  float: right;
  color: #868D9B;
  line-height: 60px;
  margin-right: 30px;
}

.nav-social:hover {
  color: #35A8E0;
}

#login-wrapper {
  margin: 0 auto;
  max-width: 580px;
}


/* IMAGES / GALLERY */

#wrapper {
  padding: 50px 100px 0 150px;
}

#top-gallery {
  border: none;
  display: block;
  margin: 0 auto;
}

#gallery {
  margin: 0;
  list-style: none;
  max-width: 1060px;
  margin: 0 auto;
}

#gallery li {
  float: left;
  margin: 1%;
  background-color: #FFFFFF;
}

#gallery li:hover {
  box-shadow: 0 0 0 3px #1ca3db;
  border-color: #1ca3db;
}

#gallery li a p {
  padding-left: 20px;
  font-size: 10px;
  color: #868D9B;
  margin: 0;
}

#gallery img {
  max-width: 330px;
  max-height: 280px;
}

#gallery h3 {
  padding-left: 20px;
}


/* CUSTOM DESIGNS SERVICES */

#custom-services {
  width: 100%;
  float: left;
  min-height: 690px;
  background-color: #262D35;
  margin-top: 40px;
  margin-bottom: 40px;
}

#custom-services p {
  color: #868D9B;
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px;
}

#services-gallery {
  margin: 0;
  padding: 0;
}

#custom-gallery {
  margin: 0;
  text-align: center;
}

#custom-gallery li {
  display: inline-block;
  margin: 1%;
}

#custom-gallery li a p {
  padding-left: 20px;
  font-size: 10px;
  color: #868D9B;
}

#custom-gallery img {
  max-width: 280px;
  max-height: 270px;
}


/* ------*/


/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: ' ';
  line-height: 0;
  display: table;
}

.clearfix:after {
  clear: both;
}


/* ---------- */

.info-button {
  float: left;
  border: 0;
  border-radius: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  line-height: 50px;
  height: 50px;
  width: 200px;
  text-align: center;
  float: none;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: inset 0 0 0 2px #55cdff;
  opacity: .9;
  font-weight: bold;
}

.info-button:hover {
  background: #39b7ec;
  box-shadow: none!important;
}


/* FOOTER */

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 170px;
  background-color: #262D35;
  width: 100%;
  display: block;
  margin-top: 40px
}

.footer-inner {
  max-width: 1260px;
  margin: 0 auto;
}

.footer-header {
  color: #FFFFFF;
  font-size: 15px;
}

.footer-items-template {
  color: #868D9B;
  float: left;
  font-size: 13px;
  padding-left: 125px;
  padding-top: 15px;
}

.footer-items-template ul li {
  padding-bottom: 5px;
}

.footer-items-template a:hover {
  color: #fff;
}


/* Thank You Page */

.content-container {
  width: 580px;
  height: 280px;
  background-color: #fff;
  margin: 250px auto;
}

.content-container p, h3 {
  padding-left: 30px;
}

.thank-you {
  font-size: 27px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.pp-redirect {
  color: #35A8E0;
  font-size: 18px;
}

.pp-button {
  width: 200px;
  cursor: pointer;
  height: 50px;
  color: #fff;
  background-color: #35A8E0;
  text-align: center;
  line-height: 50px;
  margin: auto;
}

.pp-button:hover {
  background: #39b7ec;
  box-shadow: none!important;
}


/* Login */

.login-container {
  max-width: 580px;
  margin: 140px auto 20px;
  padding-bottom: 100px;
  background-color: #fff;
}

.altlogin-container {
  max-width: 580px;
  max-height: 250px;
  background-color: #fff;
  margin: 20px auto 140px;
}

.login-container h3 {
  font-size: 27px;
}

.altlogin-container h3 {
  font-size: 27px;
}

.password {
  padding-top: 20px;
}

.create-button {
  width: 230px;
  cursor: pointer;
  height: 50px;
  color: #fff;
  background-color: #868D9B;
  text-align: center;
  line-height: 50px;
  float: left;
  margin-top: 30px;
  margin-left: 25px;
  overflow: auto;
}

.create-button:hover {
  background-color: #6d7481;
}

.blue-button {
  max-width: 200px;
  padding: 0 25px;
  cursor: pointer;
  height: 50px;
  color: #fff;
  background-color: #35A8E0;
  text-align: center;
  line-height: 50px;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  overflow: auto;
}

.blue-button:hover {
  background-color: #39b7ec;
}

.twitch-login {
  background-color: #6441A4;
  color: #fff;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.twitter-login {
  background-color: #55ACEE;
  color: #fff;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.facebook-login {
  background-color: #3B5998;
  color: #fff;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.steam-login {
  background-color: #000000;
  color: #fff;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.twitch-login:hover {
  background-color: #7449c1;
}

.twitter-login:hover {
  background-color: #5fb6f9;
}

.facebook-login:hover {
  background-color: #4568ae
}

.steam-login:hover {
  background-color: #2a2d33;
}

.steam-login, .facebook-login, .twitter-login, .twitch-login {
  display: block;
  float: left;
  margin-left: 7px;
  margin-bottom: 20px;
}

.social-logins {
  padding-left: 30px;
  overflow: auto;
  padding-bottom: 30px;
}


/* Register */

.register-container {
  max-width: 580px;
  margin: 140px auto 20px;
  padding-bottom: 100px;
  background-color: #fff;
}


/* Forms */

.form {
  padding: 25px;
}

.form-profile {
  padding: 25px;
  margin-top: 100px;
}

.form [type=text],
      [type=password],
      [type=email] {
  width: 520px;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 13px;
  width: 100%;
  padding: 5px 0;
  text-indent: 5px;
}

.form input::placeholder {
  color: rgba(134, 141, 155, .5);
  font-size: 13px;
}

.form label {
  font-size: 13px;
  color: #868D9B;
  margin-bottom: 5px;
}


/* Profile */

.orderhistory-button {
  max-width: 150px;
  padding: 0 25px;
  cursor: pointer;
  height: 50px;
  color: #fff;
  background-color: #35A8E0;
  text-align: center;
  line-height: 50px;
  float: none;
  margin: auto;
}

.orderhistory-button:hover {
  background-color: #39b7ec;
}


/* Product Page */

.product-info {
  background-color: #FFFFFF;
  float: right;
  max-width: 580px;
  max-height: 430px;
  margin-bottom: 25px;
  margin-top: 0px;
  clear: both;
}

.product-info, .product-detail, p {
  margin-left: 20px;
}

.product-detail {
  background-color: #FFFFFF;
  float: right;
  max-width: 580px;
  max-height: 430px;
  margin: auto 0;
  clear: both;
}

.green-bttn {
  max-width: 150px;
  padding: 0 10px;
  height: 50px;
  color: #fff;
  background-color: #2CAC2C;
  text-align: center;
  line-height: 50px;
  float: none;
  margin-left: 20px;
  margin-bottom: 25px;
}

.green-bttn:hover {
  background-color: #2fc92f;
}

.youtube-bttn {
  max-width: 200px;
  height: 50px;
  color: #fff;
  background-color: #C4302B;
  text-align: center;
  line-height: 50px;
  float: none;
  margin-left: 20px;
  margin-bottom: 25px;
}

.youtube-bttn:hover {
  background-color: #da2620;
}

.productimg-main {
  margin-top: 100px;
  float: left;
  max-height: 500px;
}

.productimg-main img {
  max-height: 500px;
  margin-bottom: 10px;
}

.product-right {
  float: right;
  margin-top: 100px;
}

.product-secondary {
  float: left;
  display: inline;
  margin-top: 5px;
  margin-bottom: 50px;
}

.price {
  color: #39B7EC;
  font-size: 20px;
  padding-right: 20px;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* Delivery Details */

.pay-bttn {
  max-width: 175px;
  padding: 0 10px;
  height: 50px;
  color: #fff;
  background-color: #2CAC2C;
  text-align: center;
  line-height: 50px;
  float: right;
  margin-bottom: 10px;
}

.pay-bttn:hover {
  background-color: #2fc92f;
}

.cart-bttn {
  max-width: 180px;
  padding: 0 10px;
  height: 50px;
  color: #fff;
  background-color: #868D9B;
  text-align: center;
  line-height: 50px;
  float: left;
  margin-bottom: 10px;
}

.cart-bttn:hover {
  background-color: #A8B1C3;
}

.delivery-buttons {
  margin-top: 50px;
}

form [type=checkbox] {
  float: left;
}

.total-cost {
  font-size: 20px;
  float: right;
  color: #35A8E0;
}
