/* CORE */

* {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  list-style: none;
  text-decoration: none;
}

h1 {
  color: #262D35;
  font-size: 77px;
}

h2 {
  color: #868D9B;
  font-size: 40px;
}

h3 {
  color: #171A1F;
  font-size: 26;
}

/* NAVGIATION BAR */

.header {
    background: #262D35;
    z-index: 100;
    transition: height 600ms 0s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    border-bottom: 5px solid #35A8E0;
 }

.nav {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }

.nav img {
    display: inline-block;
    position: relative;
    max-width: 162px;
    max-height: 30px;
    float: left;
    line-height: 34px;
    top: 15px;
    padding-left: 15px;
}

.nav-list {
  float: left;
  margin-right: 30px;
  line-height: 60px;
  color: #868D9B;
  font-size: 16px;
  padding-left: 30px;

}

.nav-social{
 float: right;
 color: #868D9B;
 padding: 0px 5px 0px 5px;
 line-height: 60px;
 margin-right: 10px;
}

/* CONTENT */

body {
  background-color: #F1F2F2;
}

#intro-wrapper {
  padding: 80px;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  margin: 1%;
  background-color: #FFFFFF;
}

#gallery li a p {
  padding-left: 20px;
  font-size: 10px;
  color: #868D9B;
}

#gallery img {
  max-width: 330px;
  max-height: 280px;
}

#gallery h3 {
  padding-left: 20px;
}
