
* {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 350px;
  max-height: 100px;
  padding-bottom: 15px;
}

h1 {
  margin: 14px auto 13px auto;
  font-size: 22px;
  line-height: 1.45455;
  font-weight: 100;
  letter-spacing: 0.016em;
  color: #fff;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius:4px;
}


.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}

.form a {
  color: #ffffff;
  text-decoration: none;
}

.form a:hover {
  color: #ffffff;
  text-decoration: none;
  text-decoration: underline;
}

.footer img{
    position: absolute;
    left: -8px;
    bottom: -12px;
    max-width: 45px;
    max-height: 45px;
    opacity: 0.8;
    padding-left: 25px;
    padding-bottom: 15px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
