* {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: #28345d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: 0.2;
}

.splitter {
    display: block;
    width: 44px;
    height: 6px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(16,149,250,1) 0%, rgba(67,173,239,1) 100%);
    margin: 20px auto;
}



/* Nav */


.logo {
  max-width: 15%;
  margin-top: 15px;
}

.main-nav {
  text-align: center;
  display: block;
}

.main-nav li {
  text-align: center;
    padding: 0 15px 0 15px;
}

.main-nav a {
  font-size: .85em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav a:hover {
  color: #34a9f4;
}


.secondary-nav {
  margin-left: 50px;
  text-align: center;
  display: block;
  font-weight: bold;
}

.secondary-nav li {
  text-align: center;
    padding: 0 15px 0 15px;
}

.secondary-nav a {
  font-size: .85em;
  text-transform: uppercase;
}

.signin-bttn {
  color: #34a9f4;
  border: 2px solid;
  border-color: #34a9f4;
  border-radius: 6px;
  padding: 10px 15px 10px 15px;
}

.signin-bttn:hover {
    color: #fff;
    background-image: linear-gradient(to right, rgba(16,149,250,1) 0%, rgba(67,173,239,1) 100%);
}

.register-bttn {
  color: #fff;
  background-image: linear-gradient(to right, rgba(16,149,250,1) 0%, rgba(67,173,239,1) 100%);
  border: 2px solid;
  border-color: #34a9f4;
  border-radius: 6px;
  padding: 10px 15px 10px 15px;
}

.register-bttn:hover {
    color: #34a9f4;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(237,237,237,0) 0%);
}

/* the team */

.the-team {
  max-width: 1100px;
  margin: 0 auto;
}

.team-container h1 {
  text-align: center;
  color: #171a1f;
  font-weight: 100;
  font-size: 26px;
}

.team-container {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 0;
  }

.the-team > li {
    float: left;
    width: 30%;
    margin-bottom: 40px;
    background: none;
    list-style: none;
    padding: 0!important;
    display: inline-block;
    margin-right: 35px;
}

.the-team > ul {
  text-align:center;
}

.the-team > li > img {
    float: left;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin-right: 20px;
}

.the-team h2 {
  padding: 35px 0 0 0;
  margin: 0;
  color: #171a1f;
}

.the-team h3 {
  color: #9da5b2;
  margin: 0;
}

.team-container p {
  color: #979ec6;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 35px;
}

/* About Us Container */

.about-container h1 {
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 26px;
}

.about-container p {
  color: #979ec6;
  max-width: 1000px;
  margin: 0 auto;
}

.about-container ul {
  display: inline-block;
  margin-bottom: 48px;
  margin-top: 48px;
}

.get-started li {
    float: left;
    max-width: 386px;
    text-align: left;
    margin-right: 40px;
}

.get-started li span {
    float: left;
    margin-right: 20px;
    font-size: 86px;
    opacity: .5;
    color: rgba(255, 255, 255, 0.27);
    padding-top: 17px;
}

.get-started li h3 {
    color: #c3cee1;
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0px;
}

#get-started li p {
    text-align: left;
    margin-bottom: 0;
}

/* ----- */

/* layout containers */

.about-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: rgba(23, 26, 31, 0.39);
  padding: 60px 0;
}

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.intro-container {
  padding-top: 200px;
}

.layout-container {
	padding-left: 1em;
	padding-right: 1em;
  padding-top: 100px;
}

.main-header {
	padding-top: 2.5em;
	padding-bottom: 1.5em;
}


/* pricing */

.price-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 60px 0;
}

.price-container h1 {
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 26px;
}

#free-trial {
    padding: 20px;
    background-image: linear-gradient(to right, rgba(16,149,250,1) 0%, rgba(67,173,239,1) 100%);
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

/* Intro */

.intro-container h1 {
  font-weight: 100;
  color: #34a9f4;
  margin-bottom: 5px;
}

.intro-container h2 {
  color: #fff;
  margin-top: 0px;
  max-width: 45%;
  font-weight: 500;
}

.intro-container h3 {
  font-weight:lighter;
  color: #979ec6;
  max-width: 45%;
  font-weight: 300;
}

.intro-container input {
    float: left;
    border: 1px solid #171a1f;
    background: rgba(17, 20, 25, 0.77);
    border-radius: 5px;
    padding: 16px 16px;
    font-size: 20px;
    color: #fff;
    width: 350px;
    margin: 0 20px 0 0;
    text-transform: lowercase;
    opacity: .7;
  }

.intro-container input:focus {
    color: #fff;
    background: rgba(17, 20, 25, 0.77);
    border-color: #34a9f4;
    opacity: 1;
}


.intro-container form {
    height: 17px;
}

.esprtfid-bttn {
  color: #34a9f4;
  border: 2px solid;
  border-color: #34a9f4;
  border-radius: 6px;
  padding: 18px 45px 18px 45px;
  text-align: center;
}

.esprtfid-bttn:hover {
    color: #fff;
    background-image: linear-gradient(to right, rgba(16,149,250,1) 0%, rgba(67,173,239,1) 100%);
}

/* themes */


.themes-container {
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
  background-color: rgba(23, 26, 31, 0.39);
}

.themes-container h1{
    color: #fff;
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 0px;
}

.themes-container p {
  color: #c3cee1;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 16px;
}

/* footer */

footer {
    background: #1ca3db;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    clear: both;
    position: relative;
    z-index: 1;
    bottom: 0px;
    left: 0;
    right: 0;
}

.footernav {
  padding-bottom: 23px;
    padding-top: 10px;
}

nav#footernav li a {
    line-height: 20px;
    padding: 0;
    color: #fff;
    font-weight: 500;
    display: block;
    margin-left: 20px;
}

#footernav ul{
  margin-top: 8px;
}

footer p.copyright {
    float: left;
    padding-top: 13px;
}

footer p {
    margin: 0;
    font-weight: 300;
    font-size: 13px;
}

.inner {
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}

nav#footernav {
    display: block;
    float: right;
    font-size: 13px;
}

nav#footernav li {
    float: left;
}

/* Media query */

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: ' ';
    line-height: 0;
    display: table;
}
.clearfix:after {
    clear: both;
}

@media (min-width: 789px) {
  .wrap {
    min-height: calc(100vh - 89px);
  }
  .container {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
  }
  .intro-container {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 370px;
  }
  .main-nav {
    float: right;
  }
  .main-nav li {
    float: left;
  }

  .secondary-nav {
    float: right;
  }
  .secondary-nav li {
    float: left;
  }

  .logo {
    float: left;
  }
}

/*  */
